<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 3
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item lines="full">
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>
                Modo Oscuro
            </ion-label>
            <ion-toggle id="themeToggle" slot="end" [(ngModel)]="darkMode" (ionChange)="changeTheme()"></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>
