<ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title color="light">
            Timbradas
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logout()" color="light">
                <ion-icon slot="icon-only" name="exit"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <ion-item lines="none">
                <ion-icon slot="start" name="moon"></ion-icon>
                <ion-label>
                    Modo Oscuro
                </ion-label>
                <ion-toggle id="themeToggle" slot="end" name="darkMode" [(ngModel)]="darkMode"
                            (ionChange)="changeTheme()"></ion-toggle>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="usuario.rol =='usuario'">
        <ion-card-content>
            <form>
                <ion-item lines="none">
                    <ion-label position="floating">Fecha Inicial</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" min="2020-01-11"
                                  (ionChange)=" this.fecha = $event.detail.value;"></ion-datetime>
                </ion-item>
                <ion-item lines="none">
                    <ion-label position="floating">Fecha Secundaria</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" min="2020-01-11"
                                  (ionChange)=" this.fechaFin = $event.detail.value; this.reporte()"></ion-datetime>
                </ion-item>
                <ion-item lines="none">
                    <ion-button [disabled]="activar()" (click)="generarPdf()" expand="full" shape="round"
                                expand="block">Generar Reporte
                    </ion-button>
                </ion-item>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
