<div class="container">
  <hello name="{{ name }}"></hello>

</div>
<div class="container col-5">
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">



      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">BUSQUEDA POR DOCENTE</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
</div>
<br>
<div class="container col-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">



        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">BUSQUEDA POR FECHA</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">

        <input class="form-control mr-sm-2" type="month" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
</div>
<br>
<div class="container col-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">



        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">BUSQUEDA POR FECHA</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">

        <input class="form-control mr-sm-2" type="date" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
</div>
<br>
<div class="container">
  <div class="row">
    <br>
    <input [hidden]="true" type="file" name="files" class="form-control" #uploads (change)="onChange(uploads.files)"
           multiplec xclkvsdlk
           value="process"/>
    <br>
    <button (click)="cargarArchivoExistente()" type="button" class="btn btn-warning">Cargar Archivo Existente</button>
    <button (click)="uploads.click()" type="button" class="btn btn-primary">Cargar Archivo Nuevo</button>
    <button *ngIf="file!=null" (click)="guardarDatos()" type="button" class="btn btn-success">Guardar Archivo</button>
  </div>
  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <td>Nombre</td>
      <td>Fecha</td>
      <td>Departamento</td>
      <td>Hora1</td>
      <td>Hora2</td>
      <td>Hora3</td>
      <td>Hora4</td>
      <td>N° Timbradas</td>
      <td>Hora Trabajada</td>
      <td>Editar</td>
      <td>Eliminar</td>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let record of users;let i = index;">
      <ng-container *ngIf="quitar(i)">
        <td> {{record.Nombre}}</td>
        <td> {{record.Fecha}} </td>
        <td> {{record.Departamento}} </td>
        <td> {{record.Hora1}} </td>
        <td> {{record.Hora2}} </td>
        <td> {{record.Hora3}} </td>
        <td> {{record.Hora4}} </td>
        <td *ngIf="contTimbradas(record,i)"> {{record.timbradas}} </td>
        <td *ngIf="contHorasTrabajadas(record,i)">{{record.HoraTrabajada}}</td>
        <td>
          <button type="button" class="btn btn-primary">Editar</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger">Eliminar</button>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
