<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="['tabs/tab2']" (click)="dismiss()">
                <ion-icon name=""></ion-icon>
            </ion-back-button>
        </ion-buttons>
        <ion-title color="light">
            Mi Ubicación
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <div id='map'></div>
        <div id="almuerzo"></div>
        <div id="regreso"></div>
        <div id="salida"></div>
    </ion-card>
</ion-content>
