<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title color="light">
            Mi Ubicación
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header>
            <ion-card-title color="primary">Ubicación Actual</ion-card-title>
        </ion-card-header>
        <ion-card-content>
                    <div id='map'></div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title color="primary">Agregar Descripción</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <br>
            <ion-item>
                <ion-label position="floating">Observación</ion-label>
                <ion-textarea></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-col size="">
                    <ion-button expand="full"
                                shape="round">
                        <ion-icon slot="start" name="camera"></ion-icon>
                        Tomar Foto
                    </ion-button>
                </ion-col>
            </ion-item>
            <br>
            <div class="ion-text-center">

            </div>

        </ion-card-content>
        <ion-row>
            <ion-col size="3" >
                <ion-card>

                </ion-card>
            </ion-col>
        </ion-row>
    </ion-card>

</ion-content>
