<ion-content>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/assets/images/img-01.png');">
            <div class="wrap-login100 ">
                <form class="login100-form" #regPerson="ngForm">

                    <ion-avatar class="login100-form-avatar">
                        <img src="/assets/images/img-01.png">
                    </ion-avatar>

                    <span class="login100-form-title p-t-20 p-b-45">
						REGISTRO
					</span>

                    <div class="wrap-input100 validate-input m-b-5">
                        <input autofocus [(ngModel)]="usuario.nombre" class="input100" type="email"
                               name="nombre"
                               #nombre="ngModel" required minlength="4" placeholder="Nombre">
                        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="input1001"
                             role="alert">
                            <div *ngIf="nombre.errors.required">
                                El nombre es Requerido
                            </div>
                            <div *ngIf="nombre.errors.minlength">
                                El nombre debe tener almenos 4 letras
                            </div>
                        </div>
                        <div *ngIf="validacion.nombre" class="input1001"
                             role="alert">
                            <div>
                                {{validacion.nombre.message}}
                            </div>

                        </div>
                    </div>
                    <div class="wrap-input100 validate-input m-b-10">
                        <input [(ngModel)]="usuario.apellido" class="input100" type="email" name="apellido"
                               required minlength="4" placeholder="Apellido" #apellido="ngModel">
                        <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="input1001"
                             role="alert">
                            <div *ngIf="apellido.errors.required">
                                El apellido es Requerido
                            </div>
                            <div *ngIf="apellido.errors.minlength">
                                El apellido debe tener almenos 4 letras
                            </div>
                        </div>
                        <div *ngIf="validacion.apellido" class="input1001"
                             role="alert">
                            <div>
                                {{validacion.apellido.message}}
                            </div>

                        </div>
                    </div>
                    <div class="wrap-input100 validate-input m-b-10">
                        <input [(ngModel)]="usuario.email" class="input100" type="email" name="email"
                               required email placeholder="Correo" #email="ngModel">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="input1001"
                             role="alert">
                            <div *ngIf="email.errors.required">
                                El email es Requerido
                            </div>
                            <div *ngIf="email.errors.email">
                                Debe ingresar un email valido
                            </div>
                        </div>
                        <div *ngIf="validacion.email" class="input1001"
                             role="alert">
                            <div>
                                {{validacion.email.message}}
                            </div>

                        </div>
                    </div>
                    <div class="wrap-input100 validate-input m-b-10">
                        <input [(ngModel)]="usuario.carrera" class="input100" type="email" name="carrera"
                               required placeholder="Carrera" #carrera="ngModel">
                        <div *ngIf="carrera.invalid && (carrera.dirty || carrera.touched)" class="input1001"
                             role="alert">
                            <div *ngIf="carrera.errors.required">
                                La carrera es requerida
                            </div>
                        </div>
                        <div *ngIf="validacion.carrera" class="input1001"
                             role="alert">
                            <div>
                                {{validacion.carrera.message}}
                            </div>

                        </div>
                    </div>
                    <div class="login100-form-title p-t-20 p-b-45">
                        <ion-icon (click)="showFingerPrint()" name="finger-print"
                                  style="width: 200px;height: 100px"></ion-icon>
                    </div>
                    <div *ngIf="validacion.huella" class=" wrap-input100 validate-input m-b-10 input1001" role="alert">
                        <div>
                            {{validacion.huella.message}}
                        </div>
                    </div>
                    <div class="container-login100-form-btn p-t-10">
                        <button (click)="registrarUsuario(regPerson)" type="submit" class="login100-form-btn">
                            REGISTRAR USUARIO
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</ion-content>
