<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title color="light">
            Timbradas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Entrada</ion-label>
                    <ion-checkbox [checked]="isTimbrado.entrada" disabled="true"></ion-checkbox> &nbsp;
                    <ion-button shape="round" (click)="showFingerPrint('entrada')">Timbrar</ion-button>
                </ion-item>
                <ion-item>
                    <ion-label>Almuerzo</ion-label>
                    <ion-checkbox [checked]="isTimbrado.almuerzo" disabled="true"></ion-checkbox> &nbsp;
                    <ion-button shape="round" (click)="showFingerPrint('almuerzo')">Timbrar</ion-button>
                </ion-item>
                <ion-item>
                    <ion-label>Regreso Almuerzo</ion-label>
                    <ion-checkbox [checked]="isTimbrado.regreso" disabled="true"></ion-checkbox>&nbsp;
                    <ion-button shape="round" (click)="showFingerPrint('regreso')">Timbrar</ion-button>
                </ion-item>
                <ion-item>
                    <ion-label>Salida</ion-label>
                    <ion-checkbox [checked]="isTimbrado.salida" disabled="true"></ion-checkbox> &nbsp;
                    <ion-button shape="round" (click)="showFingerPrint('salida')">Timbrar</ion-button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            {{timbrar.fecha | date:'M/d/yy'}}
            <table class="table table-borderless ">
                <thead>
                <tr>
                    <th width="35" scope="col">Entrada</th>
                    <th width="35" scope="col">Almuerzo</th>
                    <th width="35" scope="col">Regreso</th>
                    <th width="35" scope="col">Salida</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th width="35">{{timbrar.entrada}}</th>
                    <td width="35">{{timbrar.almuerzo}}</td>
                    <td width="35">{{timbrar.regreso}}</td>
                    <td width="35">{{timbrar.salida}}</td>
                </tr>
                </tbody>
            </table>
            <ion-button shape="round" expand="block">Mostrar Mas</ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>
