<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title color="light">
            Timbradas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Entrada</ion-label>
                    <ion-checkbox [checked]="isTimbrado.entrada" disabled="true"></ion-checkbox> &nbsp;
                    <ion-button shape="round" [disabled]="isTimbrado.entrada" (click)="showOptions('entrada')">Timbrar
                    </ion-button>
                </ion-item>
                <ion-item>
                    <ion-label>Almuerzo</ion-label>
                    <ion-checkbox [checked]="isTimbrado.almuerzo" disabled="true"></ion-checkbox> &nbsp;
                    <ion-button shape="round" [disabled]="isTimbrado.almuerzo" (click)="showOptions('almuerzo')">
                        Timbrar
                    </ion-button>
                </ion-item>
                <ion-item>
                    <ion-label>Regreso Almuerzo</ion-label>
                    <ion-checkbox [checked]="isTimbrado.regreso" disabled="true"></ion-checkbox>&nbsp;
                    <ion-button shape="round" [disabled]="isTimbrado.regreso" (click)="showOptions('regreso')">Timbrar
                    </ion-button>
                </ion-item>
                <ion-item>
                    <ion-label>Salida</ion-label>
                    <ion-checkbox [checked]="isTimbrado.salida" disabled="true"></ion-checkbox> &nbsp;
                    <ion-button shape="round" [disabled]="isTimbrado.salida" (click)="showOptions('salida')">Timbrar
                    </ion-button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card color="ligth">
        <ion-card-content>
            {{timbrar.fecha }}
            <table style="color: #3880ff" class="table table-borderless ">
                <thead>
                <tr>
                    <th width="35" scope="col">Entrada</th>
                    <th width="35" scope="col">Almuerzo</th>
                    <th width="35" scope="col">Regreso</th>
                    <th width="35" scope="col">Salida</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th width="35">{{timbrar.entrada}}</th>
                    <td width="35">{{timbrar.almuerzo}}</td>
                    <td width="35">{{timbrar.regreso}}</td>
                    <td width="35">{{timbrar.salida}}</td>
                </tr>
                </tbody>
            </table>
            <ion-button *ngIf="!mostrarMapa" shape="round" expand="block" (click)="mostrarMas(timbrar)" #boton>Mostrar
                Mas
            </ion-button>
            <ion-button *ngIf="mostrarMapa" color="danger" shape="round" expand="block" (click)="mostrarMapa = false">
                Cancelar
            </ion-button>
        </ion-card-content>
    </ion-card>

    <div class="container">
        <div *ngIf="mostrarMapa" id='map'></div>
    </div>

</ion-content>
