<div class="container">
  <hello name="{{ name }}"></hello>

</div>
<div class="container">
  <table border="">
    <thead>
    <tr>
      <td>Nombre</td>
      <td>Fecha</td>
      <td>Departamento</td>
      <td>Hora1</td>
      <td>Hora2</td>
      <td>Hora3</td>
      <td>Hora4</td>
      <td>N° Timbradas</td>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let record of users;let i = index;">
      <ng-container *ngIf="quitar(i)">
        <td> {{record.Nombre}}</td>
        <td> {{record.Fecha}} </td>
        <td> {{record.Departamento}} </td>
        <td> {{record.Hora1}} </td>
        <td> {{record.Hora2}} </td>
        <td> {{record.Hora3}} </td>
        <td> {{record.Hora4}} </td>
        <td *ngIf="contTimbradas(record,i)"> {{record.timbradas}} </td>
      </ng-container>
    </tr>
    </tbody>
  </table>


  <br>
  <input type="file" name="files" class="form-control" #uploads (change)="onChange(uploads.files)" multiplec xclkvsdlk
         value="process"/>
</div>
