<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title color="light">
            Datos de Usuario
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <div class="text-center">
                <ion-avatar class="login100-form-avatar">
                    <img [src]="img" (click)="presentActionSheet()">
                </ion-avatar>
            </div>
            <ion-item lines="none">
                <ion-label>Nombre: {{usuario.nombre}}  {{usuario.apellido}}</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-label>Correo: {{usuario.email}}</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-label>Carrera: {{usuario.carrera}}</ion-label>
            </ion-item>

        </ion-card-content>

    </ion-card>
    <ion-item lines="none">
        <ion-button routerLink="/ubicacion">VER MI UBICACIÓN</ion-button>
    </ion-item>
</ion-content>
