<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title color="light">
            Datos de Usuario
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card class="card">
        <ion-card-header>
            <ion-card-title color="primary">Desarrollo de Software</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <br>
            <ion-item>
                <ion-label>Nombre: Lucho</ion-label>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>Apellido: Perez</ion-label>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>Correo: lperez@yavirac.edu.ec</ion-label>
            </ion-item>
            <br>
            <ion-item>
                <ion-label>Carrera: Marketing</ion-label>
            </ion-item>
            <br>
            <div class="ion-text-center">
                <ion-icon class="ion-1x" color="primary" name="finger-print-outline"></ion-icon>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
